@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar для CRM sidebar */
.admin-sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}

.admin-sidebar-scroll::-webkit-scrollbar-track {
  background: #071a33;
}

.admin-sidebar-scroll::-webkit-scrollbar-thumb {
  background: #1c3d67;
  border-radius: 999px;
}

.admin-sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

/* Sidebar scrollbar */
.admin-sidebar-scroll {
  scroll-behavior: smooth;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(255, 255, 255, 0.18) transparent; /* Firefox */
}

/* Chrome / Edge / Safari */
.admin-sidebar-scroll::-webkit-scrollbar {
  width: 8px;
}

.admin-sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.admin-sidebar-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.admin-sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.28);
  border: 2px solid transparent;
  background-clip: padding-box;
}

/* Убираем стрелки */
.admin-sidebar-scroll::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

/* Убираем уголок */
.admin-sidebar-scroll::-webkit-scrollbar-corner {
  background: transparent;
}
@media (max-width: 768px) {
  body {
    padding-bottom: 72px;
  }
}